@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.signup-page {
  background-color: $gray-50;
  height: calc(100vh - 2rem);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;

  .signup-page-container {
    max-width: 80%;

    .signup-page-heading {
      font-size: 2.6rem;
      font-weight: 500;
      align-self: flex-start;
      color: $gray-800;
      margin-bottom: 2rem;
    }

    .signup-page-content-container {
      display: flex;

      .left-container {
        border-right: 1px solid $gray-300;
        flex: 3;

        @include md {
          border-right: none;
          flex: 1;
        }

        span {
          color: $gray-500;
          display: inline-block;
          max-width: 35rem;
          font-size: 1.4rem;
        }
      }

      .right-container {
        flex: 2;
        @include md {
          display: none;
        }
      }
    }
  }
}
