@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.table-component-container {
  // background-color: white;
  color: $gray-50;

  display: flex;
  flex-direction: column;
  padding: 5rem 0;

  .filter-input {
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 20rem;
    margin-bottom: 1.6rem;
    padding: 0.75rem 1rem;
    border: 1px solid $gray-300;
    border-radius: 5px;
    color: $zinc-400;

    &:focus {
      border: 1px solid $gray-500;
    }

    &::placeholder {
      color: $gray-400;
    }
  }

  .table-container {
    th {
      border-bottom: 1px solid $gray-500;
      padding: 1.5rem 0;

      text-align: left;
      font-weight: 800;
    }
    td {
      border-bottom: 1px solid $gray-600;
      text-align: left;
      padding: 1.5rem 0;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    // margin-bottom: 2rem;

    button {
      background-color: white;
      color: black;
      width: 10rem;
      padding: 1rem 0rem;
      border-radius: 1.5rem;
      margin-top: 2.5rem;
      font-size: 1.4rem;
      cursor: pointer;
    }

    .button:hover {
      background-color: $gray-500;
    }

    .button:disabled {
      background-color: $gray-300;
      cursor: not-allowed;
    }
  }
}

.accordion-btn {
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.5rem;
  background-color: $gray-800;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  // margin-left: 2rem;
}

.table-component-container.sub-table {
  background-color: $dark-nav;
  border: 1px solid $gray-600;
  border-radius: 1rem;
  margin-bottom: 1rem;

  .table-container {
    width: 80%;
    margin: auto;
  }
}
