@import "../../styles/variables.scss";

.login-page-container {
  background-color: $gray-50;
  height: 100vh;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 12rem;

  .login-page-heading {
    font-size: 3.5rem;
    font-weight: 500;
    align-self: flex-start;
    color: $gray-800;
    margin-bottom: 2rem;
  }

  .login-page-content-container {
    display: flex;

    .left-container {
      border-right: 1px solid $gray-300;
      flex: 2;

      span {
        color: $gray-500;
        display: inline-block;
        max-width: 35rem;
        font-size: 1.4rem;
      }
    }

    .right-container {
      flex: 1;
    }
  }
}
