@import "../../styles/variables.scss";

.dashboard-container {
  flex: 1;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: dense;
  padding: 4rem;

  .box {
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid $gray-600;
    color: white;
  }

  .box1 {
    grid-column: span 1;
    grid-row: span 2;
  }

  .box4 {
    grid-column: span 1;
    grid-row: span 2;
  }

  .box7 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .box8 {
    grid-column: span 2;
    grid-row: span 1;
  }
}
