@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.home-page-container {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 3rem;
    background-image: linear-gradient(0deg, $gray-900 0%, transparent 80%),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 0 4rem;

    h1 {
      font-size: 5.8rem;
      font-weight: 600;
      color: white;
      text-align: center;
      text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);

      @include md {
        font-size: 4rem;
      }
    }

    p {
      font-size: 1.8rem;
      line-height: 2;
      color: $gray-400;
      max-width: 60rem;
      text-align: center;
      font-weight: 500;
    }

    .hero-btns {
      display: flex;
      align-items: center;
      gap: 5rem;

      .get-started-btn {
        width: 10rem;
        padding: 1rem 0rem;
        border-radius: 5px;
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        border: 0;
        text-align: center;
        background-color: $indigo-500;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
        }
      }

      .learn-more-btn {
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        padding: 0.75rem 0rem;
        transition: text-shadow 0.3s ease-in-out;

        &:hover {
          text-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
        }
      }
    }
  }

  #dashboard-preview {
    display: flex;
    justify-content: center;
    // padding: 2rem;

    .dashboard-image {
      box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
      border-radius: 1rem;
      border: solid 1.5rem #e5e5e6;
      max-width: 90%;
      height: auto;
    }
  }

  #trusted-by {
    text-align: center;
    margin: 15rem 0;
    max-width: 120rem;
    padding: 0 4rem;

    @include md {
      margin: 10rem 0;
    }

    h4 {
      margin-bottom: 4rem;
      color: white;
      font-size: 2rem;
    }

    .logos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: 2.5rem;

      .brand-logo {
        max-width: 10rem;
        // margin: 0 1rem;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  #features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
    // background-color: $gray-900;
    color: white;

    @include md {
      padding: 5rem 2rem;
    }

    .features-intro {
      text-align: center;
      max-width: 80rem;

      span {
        color: $indigo-400;
        font-weight: 600;
        margin-bottom: 2rem;
        display: block;
      }
      h2 {
        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
        font-size: 3.2rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.8rem;
        line-height: 2;
        color: $gray-400;
        font-weight: 500;
        text-align: center;
        max-width: 60rem;
        margin: auto;

        @include md {
        }
      }
    }

    .features-boxes {
      display: flex;
      flex-direction: row;
      gap: 5rem;

      @include md {
        flex-direction: column;

        // gap: 2rem;
        // padding: 0 2rem;
      }

      .feature {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 30rem;

        @include md {
          max-width: 100%;
        }

        .feature-icon {
          width: 4.5rem;
          height: 4.5rem;
          background-color: $indigo-500;
          border-radius: 1rem;
          margin-bottom: 2rem;
        }

        h3 {
          font-size: 1.6rem;
          color: white;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1.6rem;
          margin-bottom: 1rem;
          line-height: 2;
          color: $gray-400;
          font-weight: 500;
        }
        a {
          margin-top: auto;
          color: $indigo-400;
          font-weight: 600;
          font-size: 1.5rem;

          transition: text-shadow 0.3s ease-in-out;

          &:hover {
            text-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
          }
        }
      }
    }
  }

  #sales-management {
    // background-color: $dark-bg;
    color: white;
    padding: 4rem 0;
    margin: 10rem 0;

    @include md {
      margin: 5rem 0;
    }

    .container {
      max-width: 120rem;
      margin: 0 auto;
      padding: 0 2rem;

      .text-content {
        text-align: center;
        margin-bottom: 4rem;

        span {
          color: $indigo-400;
          font-weight: 600;
          margin-bottom: 2rem;
          display: block;
        }

        h2 {
          text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
          font-size: 3.2rem;
          margin-bottom: 2rem;
        }

        p {
          font-size: 1.8rem;
          line-height: 2;
          color: $gray-400;
          font-weight: 500;
          text-align: center;
          max-width: 60rem;
          margin: auto;
        }
      }

      .sales-data-container {
        position: relative;
        max-width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 10rem;
      }

      .sales-data-img {
        border-radius: 1rem;
        border: solid 1px #e5e5e6;
        width: 100%;
        height: auto;
      }

      .sales-data-overlay {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 33%;
        background: linear-gradient(0deg, $gray-900 0%, transparent 100%);
      }

      .features-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @include md {
          flex-direction: column;
        }

        .feature-item {
          display: flex;
          // text-align: center;
          width: 30%;
          margin-bottom: 3rem;

          @include md {
            width: 100%;
          }

          img {
            width: 2rem;
            height: 2rem;
            margin-top: 0.5rem;
            margin-right: 1rem;
          }

          p {
            // font-size: 1rem;
            line-height: 2;
            color: $gray-400;

            .bold {
              color: white;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  #pricing {
    color: white;
    text-align: center;
    padding: 10rem 0;
    background-image: radial-gradient(
      circle at center,
      $gray-700 25%,
      $gray-900 50%,
      $gray-900 100%
    );

    @include md {
      padding: 5rem 0;

      background-image: radial-gradient(
        circle at center,
        $gray-700 5%,
        $gray-900 75%
      );
    }

    .container {
      max-width: 120rem;
      margin: 0 auto;
      padding: 0 4rem;
    }

    h2 {
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      font-size: 5rem;
      margin-bottom: 2rem;

      @include md {
        font-size: 4rem;
      }
    }

    p {
      font-size: 1.8rem;
      line-height: 2;
      color: $gray-400;
      font-weight: 500;
      text-align: center;
      max-width: 60rem;
      margin: 0 auto 5rem;
    }

    .pricing-options {
      display: flex;
      justify-content: center;
      gap: 2rem;
      align-items: center;

      @include md {
        flex-direction: column;
      }
    }

    .pricing-card {
      padding: 2rem;
      border-radius: 1rem;
      border: 1px solid $gray-700;
      width: 33%;
      height: 90%;

      @include md {
        width: 100%;
      }

      h3 {
        font-size: 2.4rem;
      }

      &.free {
        background: $dark-nav;
      }

      &.premium {
        background: white;
        color: $dark-nav;
        padding: 2.5rem;
        border: none;
        height: 100%;

        .btn {
          background-color: $indigo-500;
          color: white;
          &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          }
        }

        .plan-description {
          color: $dark-nav;
        }
      }

      .price {
        font-size: 3.6rem;
        font-weight: bold;
        margin: 1rem 0;
      }

      .price-detail {
        font-size: 1.8rem;
      }

      .plan-description {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      .features-list {
        text-align: left;
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;
        li {
          margin-bottom: 0.5rem;
          display: flex;
          padding: 1rem 0;
          gap: 1rem;
          img {
            margin-right: 0.5rem;
          }

          &:not(:last-child) {
            border-bottom: 1px solid $gray-700;
          }
        }
      }

      .btn {
        border-radius: 0.5rem;
        width: 100%;
        padding: 1rem 2rem;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff;
        border: 0;
        text-align: center;
        background-color: $indigo-500;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
        }
        // transition: background-color 0.3s ease;
      }
    }
  }

  #testimonials {
    color: white;
    padding: 0 4rem;
    margin-top: 10rem;

    @include md {
    }

    .testimonial-container {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      height: 30rem;

      @include md {
        flex-direction: column;
        height: auto;
        gap: 5rem;
      }

      .testimonial {
        display: flex;
        flex-direction: column;
        width: 48%;
        height: 100%;
        padding-left: 1rem;

        @include md {
          width: 100%;
          align-items: center;
          justify-content: center;
        }

        .brand-logo {
          max-width: 10rem;
          margin-bottom: 2.5rem;
        }

        blockquote {
          font-size: 1.8rem;
          margin-bottom: 1rem;
        }

        .testimonial-author {
          margin-top: auto;
          display: flex;
          align-items: center;

          @include md {
            margin-top: 2rem;
            align-self: flex-start;
          }

          .author-image {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-right: 1rem;
          }

          .author-info {
            span {
              display: block;
            }

            .author-name {
              font-weight: bold;
            }

            .author-title {
              font-size: smaller;
              color: $gray-400;
            }
          }
        }
      }

      .vertical-line {
        border-left: 1px solid $gray-700;
        height: 100%;
      }
    }
  }

  #fueldash-stats {
    color: white;
    margin: 15rem auto;
    max-width: 120rem;
    padding: 0 4rem;

    @include md {
      padding: 0 2rem;
    }

    .container {
    }

    .stats-heading {
      span {
        color: $indigo-400;
        font-weight: 600;
        margin-bottom: 2rem;
        display: block;
      }
      h2 {
        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);

        font-size: 3.2rem;
        margin-bottom: 1rem;
        max-width: 60rem;
      }

      p {
        line-height: 2;
        color: $gray-400;
        max-width: 60rem;
      }
    }

    .stats-container {
      display: flex;
      justify-content: space-between;
      // gap: 17.5rem;
      align-items: center;
      margin-top: 5rem;
    }

    .stat {
      border-left: 1px solid $gray-700;
      padding-left: 2rem;

      @include md {
        padding: 0 2rem;
      }

      h3 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  #final-cta {
    color: white;
    text-align: center;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to top,
        $gray-900 0%,
        transparent 50%,
        $gray-900 100%
      ),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    @include md {
      height: 35rem;
    }

    .container {
      max-width: 120rem;
      margin: 0 auto;
      padding: 0 2rem;

      h2 {
        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
        font-size: 3.2rem;
        margin-bottom: 5rem;
      }

      p {
        font-size: 1.8rem;
        line-height: 2;
        color: $gray-300;
        max-width: 60rem;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5rem;
      }

      .cta-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        .btn {
          color: $gray-900;
          text-decoration: none;

          &.btn-primary {
            width: 10rem;
            padding: 1rem 0rem;
            border-radius: 5px;
            font-size: 1.4rem;
            cursor: pointer;
            font-weight: 600;
            border: 0;
            text-align: center;
            background-color: #ffffff;
            transition: box-shadow 0.3s ease-in-out;

            &:hover {
              box-shadow: 0 6px 10px rgba(255, 255, 255, 0.15);
            }
          }

          &.btn-secondary {
            font-size: 1.4rem;
            cursor: pointer;
            font-weight: 600;
            color: #fff;
            padding: 0.75rem 0rem;
            transition: text-shadow 0.3s ease-in-out;

            &:hover {
              text-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
    }
  }
}

// @keyframes gradient {
//   0% {
//     background-position: 0% 85%;
//   }
//   50% {
//     background-position: 100% 20%;
//   }
//   100% {
//     background-position: 0% 85%;
//   }
// }
