@import "../../styles/variables.scss";

.properties-page-container {
  display: flex;
  color: #fff;
  min-height: 100vh;

  .properties-container {
    flex: 1;
    padding: 5rem;

    hr {
      border: 1px solid $gray-700;
      margin: 5rem 0;
    }

    h4 {
      color: $gray-300;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    .edit-btn {
      cursor: pointer;
      color: $indigo-500;
    }
    .delete-btn {
      cursor: pointer;
      color: $red-600;
    }
  }
}
