.tiny-chart-box-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .tiny-chart-box-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;

    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg)
        brightness(101%) contrast(104%);
    }

    span {
      font-size: 1.6rem;
    }
  }

  .bottom-tiny-chart-box {
    display: flex;
    flex: 1;
    justify-content: space-between;
    a {
      font-size: 1.4rem;
    }
  }
}
