@import "../../styles/variables.scss";

.profile-page-container {
  display: flex;
  color: #fff;
  min-height: 100vh;

  .profile-container {
    flex: 1;
    padding: 10rem;

    hr {
      border: 1px solid $gray-700;
      margin: 5rem 0;
    }

    .input-container {
      display: flex;
      gap: 3rem;
      .input-group {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 30rem;
          // padding: 1rem;
          // border-radius: 5px;
          // border: 1px solid #666;
          // background-color: #555;
          // color: #fff;
        }
      }

      button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #008cba;
        color: #fff;
        cursor: pointer;

        &:disabled {
          background-color: #666;
        }
      }
    }
  }
}
