.detail-report-page-container {
  display: flex;

  .detail-report-container {
    display: flex;
    flex-direction: column;
    height: 175vh;
    padding: 10rem;
    width: 100%;

    h2 {
      color: white;
      margin-bottom: 5rem;
    }

    .chart,
    .table {
      flex-grow: 1;
      height: 100%;
      // width: 100%;
    }
  }
}
