@import "../../styles/variables.scss";
.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 8rem;
      height: 8rem;
    }

    span {
      font-size: 1.8rem;
      font-weight: 800;
    }
  }

  .links-container {
    position: relative;
    display: flex;
    align-items: center;

    span,
    a {
      font-size: 1.4rem;
      cursor: pointer;
    }

    span,
    a:not(:last-child) {
      margin-right: 3rem;
      color: $gray-400;
    }

    .resources-container {
      .resources-menu {
        display: none;
        position: absolute;
        top: 100%;

        padding: 2.5rem;
        border-radius: 8px;
        background-color: $gray-700;
        z-index: 9;

        a {
          display: block;
          color: white;
          padding: 1rem;
        }
        a:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      #resource-link {
        padding: 1rem 2rem;
        color: $gray-400;
        z-index: 10;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          border-radius: 2rem;
          color: white;
          background-color: $gray-700;
        }

        &:hover,
        &:focus,
        &:active,
        &:focus-within {
          .resources-menu {
            display: block;
          }
        }
      }
    }

    #login-link {
      transition: all 0.2s ease-in-out;

      &:hover {
        color: white;
      }
    }

    #signup-link {
      padding: 1rem 2rem;
      border-radius: 2rem;
      color: white;
      background-color: $gray-700;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $gray-200;
        background-color: $gray-800;
      }
    }
  }
}
